Workspace/Workspace_WEB_SERVICES/MetaMessenger/WebContent/wsdl/MetaMessengerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.com" xmlns:intf="http://services.com" xmlns:tns1="http://exceptions.querybuilder.database.support.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.querybuilder.database.support.com"/>
   <element name="register">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:InvalidQueryBuilderParameter"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUnreadMessages">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUnreadMessagesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUnreadMessagesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllMessages">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllMessagesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllMessagesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRandomUser">
    <complexType/>
   </element>
   <element name="getRandomUserResponse">
    <complexType>
     <sequence>
      <element name="getRandomUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMessage">
    <complexType>
     <sequence>
      <element name="token" type="xsd:string"/>
      <element name="userId" type="xsd:int"/>
      <element name="content" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMessageResponse">
    <complexType>
     <sequence>
      <element name="sendMessageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.querybuilder.database.support.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="InvalidQueryBuilderParameter">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendMessageRequest">

      <wsdl:part element="impl:sendMessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUnreadMessagesResponse">

      <wsdl:part element="impl:getUnreadMessagesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllMessagesResponse">

      <wsdl:part element="impl:getAllMessagesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRandomUserResponse">

      <wsdl:part element="impl:getRandomUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllMessagesRequest">

      <wsdl:part element="impl:getAllMessages" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMessageResponse">

      <wsdl:part element="impl:sendMessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="InvalidQueryBuilderParameter">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRandomUserRequest">

      <wsdl:part element="impl:getRandomUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUnreadMessagesRequest">

      <wsdl:part element="impl:getUnreadMessages" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MetaMessengerService">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidQueryBuilderParameter" name="InvalidQueryBuilderParameter">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidQueryBuilderParameter" name="InvalidQueryBuilderParameter">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUnreadMessages">

         <wsdl:input message="impl:getUnreadMessagesRequest" name="getUnreadMessagesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUnreadMessagesResponse" name="getUnreadMessagesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidQueryBuilderParameter" name="InvalidQueryBuilderParameter">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllMessages">

         <wsdl:input message="impl:getAllMessagesRequest" name="getAllMessagesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllMessagesResponse" name="getAllMessagesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidQueryBuilderParameter" name="InvalidQueryBuilderParameter">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRandomUser">

         <wsdl:input message="impl:getRandomUserRequest" name="getRandomUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRandomUserResponse" name="getRandomUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMessage">

         <wsdl:input message="impl:sendMessageRequest" name="sendMessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendMessageResponse" name="sendMessageResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidQueryBuilderParameter" name="InvalidQueryBuilderParameter">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MetaMessengerServiceSoapBinding" type="impl:MetaMessengerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidQueryBuilderParameter">

            <wsdlsoap:fault name="InvalidQueryBuilderParameter" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidQueryBuilderParameter">

            <wsdlsoap:fault name="InvalidQueryBuilderParameter" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUnreadMessages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUnreadMessagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUnreadMessagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidQueryBuilderParameter">

            <wsdlsoap:fault name="InvalidQueryBuilderParameter" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllMessages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllMessagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllMessagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidQueryBuilderParameter">

            <wsdlsoap:fault name="InvalidQueryBuilderParameter" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getRandomUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRandomUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRandomUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidQueryBuilderParameter">

            <wsdlsoap:fault name="InvalidQueryBuilderParameter" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MetaMessengerServiceService">

      <wsdl:port binding="impl:MetaMessengerServiceSoapBinding" name="MetaMessengerService">

         <wsdlsoap:address location="http://localhost:7070/MetaMessenger/services/MetaMessengerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
